#cover {
  background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center #FFF;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* title-fonts */

h1 {
  font-family: "Josefin Sans", sans-serif;
}
body {
  font-family: 'Roboto';
  font-weight: 100;
}
p {
  color: #DFE2DB;
}
.title {
  color: #88bDBC;
  font-family: "Josefin Sans", sans-serif;
}
.link-font {
  font-size: 12px;
  font-weight: 600;
}
a {
  color: #999;
}
/* header */

header {
  color: white;
  text-align: center;
  height: 100vh;
}
.intro-text {
  position: absolute;
  text-align: left;
  width: 100%;
  top: 35%;
  left: 5%;
}
.hello {
  font-family: 'Oswald', sans-serif;
  font-size: 60px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 100px;
  margin-bottom: -30px;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(0, 0, 0, 0.65);
  width: 310px;
  height: 110px;
  padding: 20px 20px;
  margin: -50px -20px;
}
.typist-text {
  font-family: 'Roboto';
  font-size: 100px;
  font-weight: 850;
  color: rgba(240, 189, 1, 1);
  letter-spacing: -6px;
  margin-bottom: -30px;
}
.text-format {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 20;
  font-size: 30px;
}
.project-button {
  background-color: Transparent;
  color: white;
  cursor: pointer;
  padding: 10px 50px 10px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.70);
  font-weight: bold;
  outline: none;
  font-family: 'Roboto';
}
/* Footer */

footer {
  padding: 50px 0;
  color: white;
  background-color: black;
}
.center-block {
  display: table;
}
#trophy {
  margin-top: -200px;
  position: relative;
  left: 45%;
}